<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://use.fontawesome.com/654fbe1d46.js"></script>

</head>
<body>
    {% include 'blog/navbar.html' %}
    {% block content %}
	<!-- Your content goes here. -->
    {% endblock content %}
    <div class="site-section subscribe bg-light my-4 p-2">
        <div class="container">
            <form action="#" class="row align-items-center">
                <div class="col-md-5 mr-auto">
                    <h2>Newsletter Subcribe</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis aspernatur ut at quae omnis
                        pariatur obcaecati possimus nisi ea iste!</p>
                </div>
                <div class="col-md-6 ml-auto">
                    <div class="d-flex">
                        <input type="email" class="form-control" placeholder="Enter your email">
                        <button type="submit" class="btn btn-secondary ms-2 rounded-3"><i class="bi bi-envelope-fill"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container pt-3 pb-5">
        <div class="footer row" style="margin-left: 1.8rem; font-size: 13px; color: rgba(0, 0, 0, 0.65);">
          <div class="col-12 col-md-9">
              <p class="my-2">Amit Timalsina &copy 2021</p>
          </div>
          <div class="col">
            <div class="row">
                <div class="col-auto col-md-5"><a  href="{% url 'posts' %}" class="custom1"
                    style="color: rgba(0, 0, 0, 0.65); text-decoration: none;">Latest Posts</a></div>
                <div class="col"><a target="_blank" href="https://github.com/amit-timalsina" class="custom1"
                    style="color: rgba(0, 0, 0, 0.65); text-decoration: none;">Github</a></div>
                <div class="col"><a target="_blank" href="https://www.linkedin.com/in/amittimalsina/" class="custom1"
                    style="color: rgba(0, 0, 0, 0.65); text-decoration: none;">Linkedin</a></div>
              </div>
          </div>
      </div>
      </div>
</body>
</html>