{% extends 'blog/main.html' %}
{% load static %}
{% block content %}
<div class="container my-3 my-md-5">
  <div class="row justify-content-center p-5">
    <div class="col-md-10 col-lg-9">
      <h2 class="m-0" style="font-size: 3.2rem; font-family: 'Buda', cursive; font-weight: bold;">Tags 🏷️</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-9 px-5 mb-4 text-left">
      {% for tag in tags %}
      <a href="{% url 'tag' tag.slug %}" class="btn btn-dark m-2">{{ tag.name }}</a>
      {% endfor %}
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <div class="container py-3">
          <h2 class="heading">Search feature only works in blog page.</h2>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}