{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row mt-5 pt-0 pt-lg-5">
        <div class="col"></div>
        <div class="col-md-4">
            <p class="suphead">about</p>
            <h1 class= 'h11 my-3 my-lg-4' style="color: #000; font-size: 55px; font-weight: bolder; text-transform: uppercase; line-height: 1em; font-family: 'Titillium Web'; letter-spacing: 0;">Who is amit?</h1>
            <div class="para-intro">Amit is a Nepal-based Machine Learning learner and practioner. His strength lies in Machine Learning, Deep Learning, Data Analysis, Full stack web developement and Content Creation [Trying :)].</div>
        </div>
        <div class="col-md-4">
            <img src="{% static 'images/amit.jpg' %}" style="left: -0.0449843%; top: 0%; width: 100.09%;  display: block;">
            <!-- <p>Image<br>Will add soon...</p> -->
        </div>
        <div class="col"></div>
    </div>
    <div class="row mt-5 pt-3 pt-md-4">
        <div class="col"></div>
        <div class="col-sm-8">
            <center>
                <p class="suphead">the bio</p>
            </center>
            <h2 style="text-align: center; color: #000; font-size: 40px; font-weight: bolder; text-transform: uppercase; line-height: 1em; margin: 0.5em 0; font-family: 'Titillium Web'; letter-spacing: 1px;">
            Amit's story
            </h2>
            <div class="row row-cols-1 row-cols-sm-2 g-md-5 mt-3">
                <div class="col fs-5">
                    <p style="line-height: 1.7em;">As a self-taught programmer, I'm something like a coding hustler.</p>
                    <p style="line-height: 1.7em; margin-top: 1em;">I've been programming and developing websites in some capacity since age 14.</p>
                    <p style="line-height: 1.7em; margin-top: 1em;">I am more into Mathematics and Theoretical Computer Science, especifically Artificial Intelligence. I love to explore how and why things work the way they do.</p>
                </div>
                <div class="col fs-5">
                    <p style="line-height: 1.7em;">I recently started started reading books, mostly non-Fiction. And since then I have read dozens of book on genres like self-help, productivity, investment, and mental health.</p>
                    <p style="line-height: 1.7em; margin-top: 1em;">This website is for me to share my learning and understanding of Artificial Intelligence along with the strategies and tools that help us live happier, healthier, more productive lives.</p>
                    <p style="line-height: 1.7em; margin-top: 1em;">Enjoy my blogs!</p>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock content %}