{% extends 'base/navbar.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row" style="margin-top: 8em;">
        <div class="col"></div>
        <div class="col-sm-4">
            <p class="suphead">about</p>
            <h1 class= 'h11' style="color: #000; font-size: 55px; font-weight: bolder; text-transform: uppercase; line-height: 1em; margin: 0.5em 0; font-family: 'Titillium Web'; letter-spacing: 0;">Who is amit?</h1>
            <div class="para-intro">Amit is a Nepal-based Machine Learning learner and practioner. His strength lies in Machine Learning, Deep Learning, Data Analysis and Full stack web developement.</div>
        </div>
        <div class="col-sm-4">
            <!-- <img src="{% static 'images/Amit.jpg' %}" style="left: -0.0449843%; top: 0%; width: 100.09%;  display: block;"> -->
            <p>Image<br>Will add soon...</p>
        </div>
        <div class="col"></div>
    </div>
    <div class="row" style="margin-top: 8em;">
        <div class="col"></div>
        <div class="col-sm-8">
            <center>
                <p class="suphead">the bio</p>
            </center>
            <h2 style="text-align: center; color: #000; font-size: 40px; font-weight: bolder; text-transform: uppercase; line-height: 1em; margin: 0.5em 0; font-family: 'Titillium Web'; letter-spacing: 1px;">
            Amit's story
            </h2>
            <div class="row row-cols-1 row-cols-sm-2 g-5 mt-3">
                <div class="col">
                    <p style="line-height: 1.7em;">As a self-taught designer and artist, I'm something like a creative hustler.</p>
                    <p style="line-height: 1.7em; margin-top: 1em;">I've been designing brands, websites, and graphics in some capacity since age 13.</p>
                    <p style="line-height: 1.7em; margin-top: 1em;">In collaboration with creatives, music artists, startups, and lifestyle, apparel + streetwear brands I combine minimalism, vibrant color, and bold type to bring brands to life.</p>
                </div>
                <div class="col">
                    <p style="line-height: 1.7em;">I also run a brand design "studio", (Studio) ShaDrena™ where I use design, powered by strategy to build brands beyond a logo, and tell their authentic stories through bold visual design and creative direction. From 7 to 3, I'm an inbound strategist and the head of brand + design for a platinum HubSpot partner agency.</p>
                    <p style="line-height: 1.7em; margin-top: 1em;">As an army of one, I do my own thing, while strategically breaking the rules of design.</p>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock content %}