{% extends 'base/navbar.html' %}
{% load static %}
{% block content %}
<div class="container" style="height: 95vh;">
    <div class="row" style="padding: 6vw 4vw; text-align: center;">
        <h1 style="padding: 0; margin: 0;">
            Training models to surpass Human Intelligence.
        </h1>
    </div>
</div>
<div class="container" id="about">
    <h1>About</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi quisquam veniam laudantium cumque vitae autem exercitationem cum, illum, reiciendis corrupti non quae, nulla fuga dolore odio doloribus deleniti at expedita.</p>
</div>
{% endblock content %}