<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Amit Timalsina</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

</head>
<body>

	{% include 'base/navbar.html' %}

    {% block content %}
	<!-- Your content goes here. -->
    {% endblock content %}
    <div class="container pt-5 pb-5">
      <div class="row" style="margin-left: 1.8rem; font-size: 13px; color: rgba(0, 0, 0, 0.753);">
        <div class="col-sm-9">
            <p>Amit Timalsina &copy 2021</p>
        </div>
        <div class="col">
          <div class="row">
          <div class="col-5"><a>Latest Posts</a></div>
          <div class="col"><a>Github</a></div>
          <div class="col"><a>Linkedin</a></div>
          </div>
        </div>
    </div>
    </div>
</body>
</html>